@keyframes append-animated
{
    from
    {
        transform: translateY(500%);
        opacity: 0;
    }
    to
    {
        transform: translateY(320%);
        opacity: 1;
    }
}
.detailSection
{
    display: flexbox;
    position: fixed;
    background-color: green;
    padding: 1% 43%;
    transform: translateY(320%);
    width: 200px;
    border-radius: 20px;
    animation: append-animated .3s linear;
}
