@font-face {
    font-family: 'Quran Font';
    src: url(../Fonts/Al\ Qalam\ Quran\ Majeed.ttf);
}
@font-face {
    font-family: 'Quran Font Bismillah';
    src: url(../Fonts/110_Besmellah_[Takmob.Net].TTF);
}
.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
  }
.sepPage{
    background: #2d5931;
    color: #2d5931;
    box-shadow: 1px 1px 5px white;
}
.headerBSM
{
    font-family: 'Quran Font Bismillah';
    font-size: 500%;
    background-color:wheat;
    color: #000000;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: -40px;
}
button
{
    display: inline-block;
    background-color: #C7F2A4;  
    border-width: 4px;
    border-style: solid;
    box-shadow: 0px 0px 30px -10px white;
    background-color: #76ba65;
    background: linear-gradient(rgba(251,253,242,1),rgba(152,167,82,1)) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
    linear-gradient(0deg, rgba(152,167,82,1) 0%, rgba(171,193,92,1) 52%, rgba(251,253,242,1) 100%);
    border-radius: 7px;
    padding: 18px;
    box-sizing: border-box;
}
button:hover
{
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px white;
    transition: 0.3s;
}

.ayah
{
    display: inline;
    font-size: 150%;
}
.ayahSep
{
    font-size: 200%;
    display: inline;
}
.ayah:hover
{
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 5px white;
    transition: 0.3s;
}
select
{
    display: inline-block;
    background-color: #C7F2A4;
    border-width: 4px;
    border-style: solid;
    box-shadow: 0px 0px 30px -10px white;
    background-color: #76ba65;
    background: linear-gradient(rgba(251,253,242,1),rgba(152,167,82,1)) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
    linear-gradient(0deg, rgba(152,167,82,1) 0%, rgba(171,193,92,1) 52%, rgba(251,253,242,1) 100%);
    border-radius: 7px;
    padding: 18px;
    box-sizing: border-box;
}
select:hover
{
    color: white;
    background-color: #000000;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px white;
    transition: 0.3s;
}
body 
{
    background-color: #d2eeb5;
}

.quranSection{
    /*margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;*/

    background-color: #76ba65;
    padding: 20px;
    direction: rtl;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Quran Font;
    color: rgb(32, 21, 37);
}
.pageQ
{
    padding: 11%;
    font-size: 15px;
    display: inline-block;
    width: 600px;
    text-align: center;
    border-radius: 20px;
}
.page
{
    display: flex;
    flex-direction: column;
}
.topBar
{

}
.downSection
{
    display:flex;
    flex-direction: row;
}
.sideBar
{
    position: fixed;
    border: #000000 1px solid;
    display:flex;
    flex-direction: row;
    width: 20%;
}
.downBar
{
    width: 100%;
    display:flex;
    flex-direction: row;
}

.goToAya
{
    border: #000000 4px solid;
    width: 40%;
    height: 400px;
    background-color: rgb(239, 249, 234);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    /*box-shadow: rgb(1, 39, 11) 0px 0px 20px 0px;*/
}
.ayaNum
{
    cursor: pointer;
}
.ayaNum:hover
{
    background-color: gray;
    color: white;
    transition: 0.5s;
}
.sideSection
{
    border: #000000 4px solid;
    width: 60%;
    height: 300px;
    background-color: rgb(239, 249, 234);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    /*
    box-shadow: rgb(1, 39, 11) 0px 0px 20px 0px;*/
}
.sourahElement
{
    cursor: pointer;   
}
.sourahElement:hover
{
    color: white;
    background-color: gray;
    transition: 0.5s;
}



.pageNumber
{
    font-size: 150%;
}