
@font-face {
    font-family: 'English Arabic Style';
    src: url(../Fonts/Arabic\ Ramadhan.otf);
}
.summuryElementBody .backSquare
{
    
    display: inline-block;
    padding: 10%;
}
.summuryElementBody:hover .backSquare
{
    transform: rotateZ(20deg);
    transition: 0.3s;
}
.bodySummury
{
 background-color: #76ba65;   
}
.SourahsContainer
{
    display: grid ;
   background-color: #1c280b;
    background-position: 0%;
    grid-template-columns: repeat(4, 1fr);
    
}
.summuryElementBody
{
    display: inline-block;
    background-color: #C7F2A4;
    margin: 10px;
    width: 80%;
    padding: 1rem;
    border-width: 4px;
    
    border-style: solid;
    box-shadow: 0px 0px 30px -10px white;
    background-color: #76ba65;
    background: linear-gradient(rgba(251,253,242,1),rgba(152,167,82,1)) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
    linear-gradient(0deg, rgba(152,167,82,1) 0%, rgba(171,193,92,1) 52%, rgba(251,253,242,1) 100%);
    border-radius: 7px;
    padding: 18px;
    box-sizing: border-box;
    
}
.summuryElementBody .numAya{
    display: inline;
    font-size: 250%;
    color: #59b777;
    font-family: English Arabic Style;
}
.summuryElementBody .numberSourah{
    display: inline;
    font-size: 300%;
    text-align: center;
    color: rgb(83, 83, 83);
    justify-content: center;
}
.summuryElementBody .nameSourah{
    display: flex;
    /*font-family: English Arabic Style;*/
    font-size: 100%;
    margin-left: 10%;

}

.summuryElementBody:hover
{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 0px 7px 0px white;
    transition: 0.3s;
}
.search
{
    font-size: 170%;
    border-radius: 40px;
    margin-left: 2%;
    outline: none;
    border: 2px solid white;

}
.search:focus
{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px lightgreen;
    outline: none;
    transition: 0.3s;
}
.topBar
{
    background-color: #283612;
}
.Cover
{
    width: 100%;
    height: 450px;
    object-fit: cover;
}