
@font-face {
    font-family: 'English Arabic Style';
    src: url(../Fonts/Arabic\ Ramadhan.otf);
}

.bodySummury
{
 background-color: #76ba65;   
}
.SourahsContainer
{
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    
}
.summuryElementBody
{
    display: inline-block;
    background-color: #C7F2A4;
    margin: 10px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 4px 5px 0px 5px #2d5931;
    
}
.summuryElementBody .numAya{
    display: inline;
    font-size: 250%;
    color: #59b777;
    font-family: English Arabic Style;
}
.summuryElementBody .numberSourah{
    display: inline;
    font-size: 300%;
    text-align: center;
    color: aliceblue;
    justify-content: center;
}
.summuryElementBody .nameSourah{
    display: flex;
    /*font-family: English Arabic Style;*/
    font-size: 100%;
    margin-left: 10%;

}
.summuryElementBody .backSquare
{
    display: inline-block;
    background-color: #2d5931;
    padding: 2.5% 5%;
    transform: rotateZ(0deg);
    border-radius: 10%;
    clip-path: polygon( 50% 0%, 100% 50%, 50% 100%,  0% 50%);
    /*clip-path: circle(45% at 50% 50%);*/
    margin: 10px;
}

.summuryElementBody:hover .backSquare
{
    transform: rotateZ(20deg);
    transition: 0.3s;
}
.summuryElementBody:hover
{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.3s;
}
.search
{
    font-size: 170%;
    border-radius: 40px;
    margin-left: 2%;
    width: 4%;
    outline: none;
    border: 2px solid white;

}
.search:focus
{
    transform: scale(1.1);
    width: 30%;
    box-shadow: 0px 0px 10px 0px lightgreen;
    outline: none;
    border: 5px solid green;
    margin-left: 10%;
    border-radius: 40px;
    transition: 0.3s;
}
.topBar
{
    background-color: darkgreen;
}